.wrapper {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  height: 100px;
  background-color: black;
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 20px white;
}

.notif{
  line-height: 1.5;
}